* {
    margin: 0;
    padding: 0;

}

.header {

    background: #ffca33;
    padding-top: 1.5em;
    padding-left: 20px;
    padding-right: 1.5em;
    padding-bottom: 20px;

}

.cards {

    margin-top: 30px;
    display: flex;


}

footer {
    width: 99%;
    text-align: end;
    position: fixed;
    bottom: 0;
}