* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Source Sans Pro', sans-serif;

}

.header {

    background: #fdd349;
    padding-top: 1.5em;
    padding-left: 50px;
    padding-bottom: 20px;
    display: flex;

}

.header img {

    width: 50px;
    background: #fff;
    border-radius: 20px;

}

.header img:hover {

    cursor: pointer;

}

.header h1 {

    margin-top: 5px;
    margin-left: 20px;
    float: right;
    font-size: 2em;

}

main {
    margin-bottom: 60px;
}

.cards {

    margin-top: 40px;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.card {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffe58e;
    border-radius: 15px;

}

.card-title {
    width: 70%;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid gray;
}

.card-button {
    margin-top: 70%;
    margin-bottom: 5%;
    margin-left: 73%;
    color: #4d4c4a;
    font-size: 1.2em;
}

.card-button:hover {
    cursor: pointer;
    color: #000000;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {

    border-radius: 8px;
    background-color: #f5f3f3;
    padding: 3%;
}

.modal-title {
    margin-bottom: 25px;
}

.m-title {
    font-weight: bold;
    font-size: 1.5em;
}

.input-title {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    border: #ffe58e solid;
    font-size: 1em;
    font-weight: bold;
}

.input-title:focus {

    outline: none;
    border: #ffe58e solid;

}

.modal-btn {

    margin-top: 1%;
    background-color: #f5f3f3;
    border-radius: 15px;
    padding: 5px;
    border: 2px solid #02a818;
    width: 100%;
    height: 40px;
    font-weight: bold;
    font-size: 1.1em;
    font-family: 'Source Sans Pro', sans-serif;

}

.modal-btn:focus {
    outline: none;
}

.modal-btn:hover {

    background-color: #02a818;
    cursor: pointer;
    color: #ffffff;

}

#close-btn {
    margin-left: 40px;
    font-size: 1.7em;
}

#close-btn:hover {

    color: red;
    cursor: pointer;

}

#close-btn:active {
    color: red;
    font-size: 1.5em;
}

footer {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 10px;
    position: fixed;
    bottom: 0;
    font-weight: bold;
    background-color: #C2B488;
    text-align: end;
}


@media (max-width: 900px) {

    .cards {

        margin-top: 40px;
        justify-items: center;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        grid-template-rows: repeat(3, 1fr);
    
    }

}